@import 'variables';

@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit.ttf');
}

body {
    background: linear-gradient($black, $gradient-black, $black);
    margin: 0;
}

h1, h2, h3, p, span {
    color: $white;
}