$font-principal: 'Outfit';

$black: black;
$gradient-black: #101010;
$background-grey: #191919;
$white: white;
$green-validate: #06d6a0;

$text-light: 200;
$text-medium: 400;
$text-large: 700;

$breakpoint-desktop: 1440px;
$breakpoint-600: 600px;